body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 60px;
  background-color: #54AF59;
  
 
}

.header-logo h1 {
  color: white;
  opacity: 0.6;
  padding: 20px 0;
  text-align: center;
  
}
