.background {
  background-image:url(https://prog-8.com/images/html/advanced/html.png);
}

header {
  background-color: black;
  height: 60px;
  
}

.header-logo h1 {
  color: white;
  opacity: 0.6;
  
}
